@import "../../scss/_variables";

.store{
    margin-top: 2rem;

    .mainNav{
        margin-bottom: 10px;
        
        .title{
            font-size: 24px;
            font-weight:bold;
        }
    }

}
